.eventsTitle{
    padding: 20px 0 !important;
    .row{
        justify-content: center;
        .eventsTitleContent{
            text-align: center;
            h3{
                font-size: 20px;
                color: #83aa99;
            }
            h1{
                padding: 20px  0 !important;
                color: #1b745e;
                font-size: 40px;
            }
        }
    }

}