@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,600&family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  list-style: none !important;
  text-decoration: none !important;
  user-select: none;
}

.container-fluid {
  padding: 0 40px !important;
}

.col-6 {
  padding: 0 15px !important;
}

.col-4 {
  padding: 0 15px !important;
}

.col-5 {
  padding: 0 15px !important;
}

.col-3 {
  padding: 0 15px !important;
}

.col-12 {
  padding: 0 15px !important;
}

body {
  font-family: 'Crimson Text', serif;
}